.elements__like {
  width: 20px;
  height: 20px;
  padding: 0;
  border: none;
  background-color: transparent;
  background-image: url("../../../images/like.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  cursor: pointer;
  transition: ease-in-out .335s;
}

.elements__like:hover {
  opacity: .6;
}

.elements__like_active {
  background-image: url("../../../images/like_active.svg");

}
