.header__logo {
  width: 142px;
  height: 33px;
  display: block;
}
@media (max-width: 768px) {
  .header__logo {
    margin: 0 0 0 0;
    position: relative;
    width: 104px;
    height: 24px;
    z-index: 2;
  }
}
