.popup {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0, .5);
  visibility: hidden;
  opacity: 0;
  transition: visibility .335s, opacity .335s linear;
  overflow: hidden;
}
.popup_open {
  visibility: visible;
  opacity: 1;
}

