.profile__avatar-button {
    margin: 4px 22px 0 0;
    padding: 0;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    background-color: transparent;
    outline: none;
}
.profile__avatar-button:hover {
    background-color: rgba(0,0,0, .8);
    background-image: url('../../../images/edit_avatar.svg');
    background-repeat: no-repeat;
    background-position: center;
  }
@media (max-width: 768px) {
    .profile__avatar-button {
      margin: 0 0 10px 0;
    }
}